.bgc-container {
    background: #23424A;
    color: white;
    padding: 4em;
    overflow: hidden;
}

.bgc-container-fluid {
    background: #23424A;
    color: white;
    padding: 4em 0;
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.container-fluid {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.intro-content {
    width: 60%;
}

.intro-content > h2 {
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 900;
    line-height: 56px;
    text-align: left;
    margin-top: 0;
}

.intro-content > p {
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
}

.button {
    padding: 0.5em 2em;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
    background: #38CFD9;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: 300ms;
}

.button:hover {
    background: #2ca6af;
}